<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body ng-app="app">
    <div
        ng-controller="formCtrl"
    >
        <form
            ng-submit="handleSubmit()"
        >
            <label for="id">Id del cliente:</label>
            <input
                id="id"
                type="text"
                ng-model="id"
            /><br>

            <button type="submit">Lista de Clientes</button>
            <button type="button" ng-click="handleClick()">Cliente por Id</button>
        </form>
        <br>
        <div>response: {{ response }}</div>
    </div>
    <script src="main.js"></script>
</body>
</html>